

.demo-card-wide.mdl-card {
  width: 80%;
  margin-left: 8%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 100%;

  background: url('../img/imgasset.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#jeder {
  box-shadow: 0px 1px 5px grey;
}

#vainaloca {
  color: white;
}

#computebutton {
  margin-left: 10px;
  margin-bottom: 4px;

}

.demo-card-event.mdl-card {
  width: 400px;
  height: 250px;
  background: white;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

#signals {
  position: relative;
  left: 8%;
}

.compPage {
  opacity: 0.0;
}

.pricing{
  background: url('../img/imgasset.png') center / cover;
}
